<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>palindrome web app</title>
</head>
<body>


	<!--
		id = set a reference for javascript to find this element
	-->

	<p> Enter Palindrome </p>
	
	<form id="submit-words" action="/words" method="POST">
		<input type="text" placeholder="words go here" name="words_input"> <br>
		<input type="submit" name="submit">
	</form>

	<script src = "/palindrome/"> </script>

	<textarea id = "MyTextArea" rows="10" cols="50" placeholder="example: dad is a palindrome">

	</textarea>

	<!--send to server -->
	<script>
		// get a reference to the form
		const form = document.querySelector('#submit-words');
		// get a reference to the textarea
		const myText = document.querySelector('#MyTextArea');
		// listen for submit event
		form.addEventListener('submit', (event) => {
			// prevent the default behavior
			event.preventDefault();

			// get the word from the input
			const word = form.querySelector("[name=words_input]").value;

			// pass the word to our palindrome function
			const isPalidrome = checkPalindrome(word);

			if (isPalidrome) {
				// update UI
				myText.innerHTML = 'true'
				// write to DB
				const url = '/words';
				const body = JSON.stringify({"words_input": word});
				const options = {
					method: 'POST',
					body,
					headers: {
						"Content-Type": "application/json"
					}
				};
				fetch(url, options)
				.then((response) => {
					return response.json();
				})
				.then((data) => {

				})
				.catch((error) => console.error(error));
			} else {
				// warn user
				console.warn(`${word} is not a palindrome`);
			}
		});
	</script>
</body>
</html>