<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>palindrome web app</title>
</head>
<body>

	<!--
		id = set a reference for javascript to find this element
	-->
	<form id="submit-words" action="/words" method="POST">
		<input type="text" placeholder="words go here" name="words_input"><br>
		<input type="submit" name="submit">
	</form>

	<textarea rows="10" cols="50" placeholder="example: dad is a palindrome">

	</textarea>

	<script>
		// get a reference to the form
		const form = document.querySelector('#submit-words');

		// listen for submit event
		form.addEventListener('submit', (event) => {
			// prevent the default behavior
			// event.preventDefault();
			// debugger;
		});
	</script>
</body>
</html>